[mysqld]
bind-address = ::ffff:127.0.0.1
local-infile = 0
performance_schema = ON

skip-external-locking
skip-character-set-client-handshake
skip-host-cache
skip-name-resolve
ignore-db-dirs=lost+found

max_allowed_packet = 32M                ## 128M for Recommend or 32M every 1GB of RAM

# Buffer Settings
key_buffer_size = 32M                   ## 128MB for every 1GB of RAM
sort_buffer_size = 2M                   ## 1MB for every 1GB of RAM
read_buffer_size = 1M                   ## 1MB for every 1GB of RAM
read_rnd_buffer_size = 1M               ## 1MB for every 1GB of RAM
join_buffer_size = 1M                   ## 1MB for every 1GB of RAM

# Disable Cache
## Option supported by MariaDB & up to MySQL 5.7, comment line on MySQL 8.x
##
query_cache_type = 1                    ## 
query_cache_size = 64M                  ## 
query_cache_limit = 4M                  ## 

# Table Settings
table_definition_cache = 10000          ## 10000 for every 1GB of RAM or -1 (autosizing if supported)
table_open_cache = 10000                ## 10000 for every 1GB of RAM
open_files_limit = 20000                ## This can be 2x to 3x the table_open_cache value

max_heap_table_size = 32M               ## 32MB for every 1GB of RAM
tmp_table_size = 32M                    ## 32MB for every 1GB of RAM

# Innodb Settings
innodb_buffer_pool_instances = 1        ## Use 1 instance per 1GB of InnoDB pool size
innodb_buffer_pool_size = 128M          ## 128M every 1GB of RAM Recommend or (Can use up to 60-70% of RAM)
innodb_log_buffer_size = 4M             ## 4M every 1GB of RAM - Max value = 16M
innodb_log_file_size = 64M              ## 64M every 1GB of RAM - Max value = 512M
innodb_file_per_table = 1
innodb_stats_on_metadata = 0
innodb_read_io_threads = 64             ## Max Value = 64 (Can reduce for 16 every 1GB of RAM)
innodb_write_io_threads = 64            ## Max Value = 64 (Can reduce for 16 every 1GB of RAM)
innodb_thread_concurrency = 1           ## Max Value = 2 or Optimize use by -1, -2 CPUs on server
                                        ## Such as your server has 8 CPUs, try 6 or 7 and check load by MySQL or MariaDB

# Log config
## Disabled for production
#slow_query_log = 1
#long_query_time = 5
#slow-query-log-file = /var/log/mysql-slow.log

# Connection Settings
max_connections = 100
max_user_connections = 1800
interactive_timeout = 180               ## Max for = 300
wait_timeout = 180